@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;600;700&display=swap');
/*font-family: 'Josefin Slab', serif;*/


/* GENERAL */
.container{
  width: 65rem;
  height: 40rem;
  box-sizing: content-box;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
  border-radius: 40px;
  box-shadow: 0px 3px 10px rgb(0, 0, 0, 30%) inset;
  margin-top: 4rem;
  margin-bottom: 4rem;
  background-image: url(./Assets/decoration.png);
  background-size: 100% 100%;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Josefin Slab', serif;
}

a{
  font-family: 'Josefin Slab', serif;
}

p{
  font-family: 'Josefin Slab', serif;
}

/* .content{
  height: 15rem;
} */

.flex{
  display: flex;
}



/* HEADER */

header{
  display: flex;
  align-items: center;
}

.nav{
  padding: 0.2rem;
    text-align: end;
}

.divider{
  width: 33.3rem;
}

.nav a{
  padding: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 600;
}


.logo{
  text-align: center;
  border: 1px;
}

.logo a{
  text-decoration: none;
  font-size: 1.8em;
  color: #E56408;
}



/*Footer*/
footer{
  display: flex;
  align-items: center;
  justify-content: space-evenly !important;
  margin-bottom: 2rem;
}

footer iframe{
  padding: 1.2rem;
  border: 0px;
}


/* Weather */

.contentWOne{
  height: 7rem;
}

.iconsW{
  height: 20px;
  width: auto;
}

.clock{
  align-items: baseline;
  color: #83541A;
  justify-content: center;
}

.time{
  font-size: 4.5em;
  font-weight: 400;
}

.pm{
  font-size: 2.5em;
  font-weight: 600;
  margin-left: 1rem;
}

.centered{
  justify-content: center;
  text-align: center;
  align-items: center;
}

.date{
  font-size: 4.5em;
  color: #83541A;
  font-weight: 400;
}

.year{
  font-size: 2.5em;
  margin-top: -4.5rem;
  color: #83541A;
  font-weight: 600;
}

.icon{
  color: #E68A0D;
  padding-right: 1rem;
}

.BigWContainer{
  align-items: center;
  justify-content: center;
}

.BigW{
  font-size: 4.5em;
  color: #83541A;
}

.smallW{
  font-size: 1em;
  color: #83541A;
  justify-content: center;
  margin-top: -4rem;
}

.smallW p{
  padding: 0 0.5rem;
  font-size: 1.2em;
  font-weight: 700;
}


/* Days Weather */
.dividerTwo{
  width: 20%;
}

.WDays{
  margin-top: -1rem;
}

.contentWDays{
  height: 7rem;
  text-align: center;
  justify-content: center;
}

.iconDays{
  color: #E68A0D;
  padding-right: 0.5rem;
}

.BigWdays{
  font-size: 3em;
  color: #37250F;
  font-weight: 400;
}

.smallWDays{
  margin-top: -3rem;
}

.ContainerDays{
  align-items: center;
}

.smallWDays p{
  font-size: 1em;
  font-weight: 700;
  padding: 0.5rem 0.5rem;
}

.WlineTop{
  margin-top: 3.5rem;
}

.WlineBottom{
  margin-top: 3.5rem;
}