@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;600;700&display=swap');
/*font-family: 'Josefin Slab', serif;*/



/* GENERAL */
.container{
  width: 65rem;
  height: 40rem;
  box-sizing: content-box;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
  border-radius: 40px;
  box-shadow: 0px 3px 10px rgb(0, 0, 0, 30%) inset;
  margin-top: 4rem;
  margin-bottom: 4rem;
  background-image: url(./Assets/decoration.png);
  background-size: 100% 100%;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Josefin Slab', serif;
}

a{
  font-family: 'Josefin Slab', serif;
}

.content{
  height: 80%;
}



/* HEADER */

header{
  display: flex;
  align-items: center;
}

.nav{
  padding: 0.2rem;
    text-align: end;
}

.divider{
  width: 33.3rem;
}

.nav a{
  padding: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 600;
}


.logo{
  text-align: center;
  border: 1px;
}

.logo a{
  text-decoration: none;
  font-size: 1.8em;
  color: #E56408;
}



/*Footer*/
footer{
  display: flex;
  align-items: center;
  justify-content: space-evenly !important;
  margin-bottom: 2rem;
}

footer iframe{
  padding: 1.2rem;
  border: 0px;
}


/* Weather */

