@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;600;700&display=swap');
/*font-family: 'Josefin Slab', serif;*/


/* GENERAL */
.container{
  width: 65rem;
  height: 40rem;
  box-sizing: content-box;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
  border-radius: 40px;
  box-shadow: 0px 3px 10px rgb(0, 0, 0, 30%) inset;
  margin-top: 4rem;
  margin-bottom: 4rem;
  background-image: url(./Assets/decoration.png);
  background-size: 100% 100%;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Josefin Slab', serif;
}

a{
  font-family: 'Josefin Slab', serif;
}

p{
  font-family: 'Josefin Slab', serif;
}

button{
  background-color: #37250f00;
  border: 0px;
}

.flex{
  display: flex;
  flex-direction: row;
}



/* HEADER */

header{
  display: flex;
  align-items: center;
}

.nav{
  padding: 0.2rem;
    text-align: end;
}

.divider{
  width: 33.3rem;
}

.nav a{
  padding: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 600;
}


.logo{
  text-align: center;
  border: 1px;
}

.logo a{
  text-decoration: none;
  font-size: 1.8em;
  color: #E56408;
}



/*Footer*/
footer{
  display: flex;
  align-items: center;
  justify-content: space-evenly !important;
  margin-bottom: 2rem;
}

footer iframe{
  padding: 1.2rem;
  border: 0px;
}


/* Weather */

.contentWOne{
  height: 7rem;
}

.iconsW{
  height: 20px;
  width: auto;
}

.clock{
  align-items: baseline;
  color: #83541A;
  justify-content: center;
}

.time{
  font-size: 4.5em;
  font-weight: 400;
}

.pm{
  font-size: 2.5em;
  font-weight: 600;
  margin-left: 1rem;
}

.centered{
  justify-content: center;
  text-align: center;
  align-items: center;
}

.date{
  font-size: 4.5em;
  color: #83541A;
  font-weight: 400;
}

.year{
  font-size: 2.5em;
  margin-top: -4.5rem;
  color: #83541A;
  font-weight: 600;
}

.icon{
  color: #E68A0D;
  padding-right: 1rem;
}

.BigWContainer{
  align-items: center;
  justify-content: center;
}

.BigW{
  font-size: 4.5em;
  color: #83541A;
}

.smallW{
  font-size: 1em;
  color: #83541A;
  justify-content: center;
  margin-top: -4rem;
}

.smallW p{
  padding: 0 0.5rem;
  font-size: 1.2em;
  font-weight: 700;
}


/* Days Weather */
.dividerTwo{
  width: 20%;
}

.WDays{
  margin-top: -1rem;
}

.contentWDays{
  height: 7rem;
  text-align: center;
  justify-content: center;
}

.iconDays{
  color: #E68A0D;
  padding-right: 0.5rem;
}

.BigWdays{
  font-size: 3em;
  color: #37250F;
  font-weight: 400;
}

.smallWDays{
  margin-top: -3rem;
}

.ContainerDays{
  align-items: center;
}

.smallWDays p{
  font-size: 1em;
  font-weight: 700;
  padding: 0.5rem 0.5rem;
}

.WlineTop{
  margin-top: 3.5rem;
}

.WlineBottom{
  margin-top: 3.5rem;
}



/* ToDo */
.todo{
  padding-top: 1rem;
  height: 50%;
  max-height: 50% !important;
  overflow-x:hidden;
  overflow-y:auto;
}

/* Scrollbar styling */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #C03600; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #C03600; 
}


.todo button{
  margin: 0 0.3rem;
  background-color: #ffe2b9;
  padding: 0.5rem;
  border-radius: 10px;
  font-family: 'Josefin Slab', serif;
  font-weight: 700;
  text-transform: uppercase;
}

.todo ul{
  margin-top: 0;
  padding-top: 0;
}

.todo li{
  margin-top: -1.8rem;
  padding-top: 0;
}

form{
  margin: 0.5rem 20% 2rem 20%;
  width: 67.8%;
}

.inputTodo{
  width: 87%;
  border-radius: 5px;
  padding: 7px;
  border-color: #83541a7e;
  border-width: 2px;
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
  color: #37250F;
  text-transform: capitalize;
}

.inputTodo ::placeholder{
  font-family: 'Josefin Slab', serif;
  color: #37250F;
}

.submitBtn{
  margin-left: 1rem;
}

.EditInput{
  width: 100%;
  margin-right: 2rem;
}

.EditInput input{
  width: 27.7rem;
  border-radius: 5px;
  padding: 7px;
  border-color: #83541a7e;
  border-width: 2px;
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
  color: #37250F;
  text-transform: capitalize;
}

.list{
  display: flex;
  margin-top: -1.5rem !important;
  align-items: center;
  width: 50%;
  margin-left: 15%;
}

.item{
  width: 30rem;
}

.completeT{
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 1.7em;
  word-wrap:break-word;
}

.incomplete{
  color: rgb(165, 165, 165);
  text-decoration: line-through;
  font-weight: 600;
  font-size: 1.7em;
  word-wrap:break-word;
}

.todoToggle{
  border: 0px;
  background-color: #37250f00 !important;
}

.todoToggle img{
  max-height: 2.5rem;
}

.editBtn{
  margin-bottom: 0.2rem !important;
}
.addBtn{
  margin-left: 0.5rem !important;
}

.todo-actions{
  display: flex;
  width: 100%;
}

.DAll{
  margin-left: 87% !important;
}


/* MOOD */

.mood{
  height: 52%;
}

.emotionList{
  justify-content: center;
  margin-left: auto !important;
  margin-right: auto !important;
  display: flex;
}

.emotionIcon{
  max-height: 4rem;
}

/* Calendar */

.EmotionLog{
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 60% !important;
  overflow-x:hidden;
  overflow-y:auto;
}

.moodTitle{
  margin: 0.5rem ;
  text-align: center;
}

.LogItem{
  margin: 0 1rem;
}

.LogItem img{
  height: 3rem;
}

.logdate{
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.logname{
  margin-top: -0.1rem;
}